/* General Style */
body {
  margin: 0;
  font-family: "Open Sans", serif;
  background-color: #f8f8f8;
  color: #333;
}

/* Share style */
.secendary-bg{
  background-color: #FFF8F3;
}
.text-center {
  color: #FD6E0A;
}
.dark-2 {
  color: #474747;
}
.btn-color {
  background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
}
.section-title {
  font-size: 40px;
  font-weight: 600;
  color: #181818;
}
.section-description{
  font-size: 20px;
  color: #757575;
}
.text-center {
  text-align: center;
}
/* Header */
.header{
  background-image: url('../images/developer.png'), url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}
/* Header/Nav Styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
    margin-right: 50px;
}

nav li a {
  text-decoration: none;
    font-size: 20px;
}
/* banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content{
  max-width: 580px;
}
.banner-greetings{
  font-size: 40px;
  font-weight: 600;

}
banner-title{
  font-weight: bold;
  font-size: 45px;
}
.banner-profile-pic{
  width: 580px;
}
/* main styles */
main{
  max-width: 1140px;
  margin: 0 auto;
}
main section{
  margin: 130px;
  margin-bottom: 130px;
}
/* about styles */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}
.about-items{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
}
.item-description{
  font-weight: 600;
}
/* skill section */
.skills-container{
   display: flex;
   gap: 24px;

}
.skill{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.6);
}
/* Resume section style */
.resume-container{
  display: flex;
  gap: 24px;
}
..experience-sub-title{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
  color: #757575;
}
.resume hr{
  margin: 30px 5px;

}
.resume download CV{
  margin-top: 50px;
}
/* footer styles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;

}
.footer-column{
  width: 50%;
}
footer input[type="text"], input[type="email"], footer textarea{
  width: 100%;
  height: 64px;
  padding: 10px 20px;
  border-radius: 5px;
  display: block;
  border: 1px solid #757575;
  margin-bottom: 24px;
  border: none;
}
/* Media query */

@media screen and (max-width : 576px) {
     .skills-container, .resume-container, .banner, footer, nav, nav > ul, .about-items{
      flex-direction: column;
    }
    nav > ul{
      gap: 20px;
    }
    .btn-color{

    }
    .resume-container , .banner, footer, .about{
      padding: 20px;
    }
    .banner{
      margin: 20px;
    }
    .banner-profile-pic{
      width: 100%;
    }
    .footer-column{
       width: 100%;
    }
    .header{
      background-image: none;
    }
    footer input[type="text"], input[type="email"], footer textarea{
      width:calc(100% - 40px);
    }
}
@media screen and (min-width: 576px) and (max-width: 990px){
     .banner{
      flex-direction: column;
     }
}